include README.md LICENSE
recursive-include watchme *
graft watchme
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude .docs *
recursive-exclude docs *
